.header{
	background-color: hidden;
	color : white;
	text-align: center;
	padding: 40px;
	font-family : "Comic Sans MS", cursive, sans-serif;
}

.topnav{
	overflow: hidden;
	background-color: black;
}
.topnav a{
	float: left;
	display : block;
	color: white;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
	font-family : "Comic Sans MS", cursive, sans-serif
}

body {
  
  background : url(newimage.jpg) no-repeat center center fixed ;
  background-size : cover;   
  height: 100%;
  
}

h1{
	font-size: 75px;
	background-color : pink;
	padding : 15px;

	
}

h2{
	font-weight: 100;
	text-align : left;
	color : Blue;
	font-size: 30px;
	font-style : oblique;
	font-family : "Arial";
	margin-left: 30px;
}
p{
	font-weight:italic;
	color: black;
	font-size: 200px;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
}

h2{
	float:center-right;
}